<ul class="navigatieFooter">
  <li>
    <button type="button" name="chat">Chat</button>
  </li>
  <li>
    <button type="button" name="home">Home</button>
  </li>
  <li>
    <button type="button" name="profiel">Profiel</button>
  </li>
</ul>
