<section class="navSection">
  <ul class="navigatieFooter">
    <li>
      <div class="BDiv">
        <button type="button" name="home" class="B1"></button>
        <button type="button" name="profiel" class="B2"></button>
      </div>
    </li>
    <li>
      <div class="profielDiv">
        <a href="/profiel"><button type="button" name="profiel" class="profielButton"></button></a>
        <p class="profielTekst">Profiel</p>
      </div>
    </li>
    <li>
      <button type="button" name="chat" class="joystick"></button>
    </li>
  </ul>
</section>
