<section class="navSection">
  <nav>
    <ul class="navigatieFooter">
      <li>
        <div class="BDiv">
          <p class="B1tekst">Home</p>
          <a href="/"><button type="button" name="home" class="B1"></button></a>
          <p class="B2tekst">Game</p>
          <a href="#"><button type="button" name="profiel" class="B2"></button></a>
        </div>
      </li>
      <li>
        <div class="profielDiv">
          <a href="/profiel"><button type="button" name="profiel" class="profielButton"></button></a>
          <p class="profielTekst">Profiel</p>
        </div>
      </li>
      <li>
        <button type="button" name="chat" class="joystick"></button>
      </li>
    </ul>
  </nav>

  <script src="../scripts/verwijder.js"></script>

</section>
