<ul class="navigatieHeader">
  <li>
    <button type="button" name="chat">Logo</button>
  </li>
  <li>
    <button type="button" name="home">
      <img src="/images/zoeken.png" alt="zoekIcon" class="zoekIcon">
    </button>
  </li>
</ul>
