<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
  <section>

    <h1>Welcome!</h1>
      <form action="/genre" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="genre" name="genre">
        <button type="submit">Submit</button>
      </form>

      <%= Genre[i].name %>

  </section>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
