<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="schermachtergrond">
      <div class="schermRand">
        <section class="scherm indexscherm" id="mainScherm">
          <h1>Welcome back!</h1>
          <p class="welcomeTekstIndex">Voer het spel in dat je wilt koppelen met je account</p>
            <form action="/spel" method="POST" class="gameInvoerenForm">
              <input type="text" placeholder="Game name" name="name" required>
              <input type="text" placeholder="The Genre" name="genre" required> <br>
              <button type="submit">Submit</button>
            </form>

        </section>
      </div>

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>
