<!DOCTYPE html>
<html lang="en">

</script>

<head>
    <%- include('../partials/head'); %>
</head>

<body>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
  <div class="schermachtergrond">
    <section class="scherm">
      <h1>Welcome back Tim!</h1>

      <h1>Nou, test ff of je dingen werken
        <form action="/spel" method="POST">
          <input type="text" placeholder="Game name" name="name">
          <input type="text" placeholder="The Genre" name="genre"> <br>
          <button type="submit">Submit</button>
        </form>
      </h1>

    </section>

  </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
